/*-----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------
    GENERAL
-----------------*/

.container{
    max-width: 1170px;
    padding: 0px 10px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.btn{
    padding: 10px 14px;
    border: 0px;
    border-radius: 20px;
}

.btn-blue{
    background-color: #0084fd;
    color: #fff;
}

.btn-circle{
    border-radius: 50%;
    background-color: #9792e4;
}

/*-----------------
    TYPOGRAPHY
-----------------*/

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

/*-----------------
    HEADER
-----------------*/

header{
    background-color: #0084fd;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

nav , .logo{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    padding: 0px 20px;
    color: #fff;
}

.side-menu{
    color: #fff;
    display: none;
}


/*-----------------
    INTRO
-----------------*/

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col{
    padding: 0px 10px;
}

.grow{
    flex-grow: 1;
}

.first-card{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: #b5ddff;
    padding-top: 34px;
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    height: 100%;
    background-color: #b5ddff;
    padding-top: 34px;
    padding-left: 10px;
    padding-right: 10px;
    /* display: flex;
    flex-direction: column; */
}

#intro{
    padding-top: 50px;
}

#intro .col{
    width: calc(100% / 3);
    margin-bottom: 20px;
}

.col-big-card{
    width: 50%;
}

.col-big-card img{
    margin-top: 50px;
    width: 70%;
}

.col-big-card h3, .col-big-card p{
    padding-bottom: 34px;
}

.col-big-card h3{
    color: #0084fd;
}

.icons i{
    font-size: 70px;
    color: #0084fd;
}

.icons-title h3{
    color: #0084fd;
    padding: 40px 0px;
}

.padding-bottom{
    padding-bottom: 60px;
}

/*---------------------
    STRATEGIC PLANNING
---------------------*/

#strategic-planning{
    background-color: #9792e4;
    padding: 60px 0px;
}

#strategic-planning .col{
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.planning1{
    width: 60%;
}

.planning-card h2{
    color: #fff;
    padding-top: 150px;
    padding-bottom: 50px;
}

.planning-card-white{
    background-color: #fff;
    border-radius: 20px;
    width: 60%;
    padding: 30px 0px;
}

.planning-card-white img{
    width: 40%;
}

.planning-card-white p{
    margin: 0 auto;
    max-width: 50%;
    padding: 20px 0px;
}

.pippo{
    width: 80%;
    color: #fff;
}


/*-----------------
    RESPONSIVE
-----------------*/

/*---- TABLET ----*/

@media screen and (max-width: 992px) {
    .container{
        width: 100%;
    }

    nav{
        display: none;
    }

    .side-menu{
        display: flex;
        align-items: center;
    }

    .col-big-card{
        width: 100%;
    }
}

/*---- MOBILE ----*/

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    nav{
        display: none;
    }
    .side-menu{
        display: flex;
        align-items: center;
    }

    #intro .col{
        width: 100%;
    }
}